<div class="container">
  <h1>ANGULAR NOTES APPLICATION</h1>
  <div class="content">
    <h3>Please authenticate to continue</h3>
    <div class ="inputs">
      <input (keydown.enter)="login()" [(ngModel)]="username" type="text" placeholder="Username" />
      <input (keydown.enter)="login()" [(ngModel)]="password" type="text" placeholder="Password" />
    </div>
    <div class = "buttons">
        <button (click)="login()" >Login</button>
        <button (click)="register()">Register</button>
    </div>
    @if(errorMessage){
      <h4>{{errorMessage}}</h4>
    }
    @else {
      <p>Enter your account information!</p>
    }
  </div>
</div>
