div {
    border-radius: 10px;
    background-color: rgb(150, 150, 150);
    transition: 0.5s;
    min-width: 320px;
    min-height: 180px;
    padding: 5px;
    padding-left: 15px;
}

div:hover {
    background-color: #3d2855;
    cursor: pointer;
}

h4{
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
}

section{
    padding-top: 0.8rem;
    margin: 0;
}

p{
    margin: 2px 0px 3px 0px;
}

span{
    color: rgb(211, 211, 211);
}