<app-header />
@if(selectedNote())
{
  <div class="selected" *ngIf="selectedNote() as note">
      <app-note-view clickOutside (clickOutside)="closeSelectedNote()" [note]="note"></app-note-view>
  </div>
} 
@else
{
  @if (notes().length === 0) {
    <div class="empty-state">
      <h3>No notes available for this category.</h3>
      <p>Try selecting another category or create a new note!</p>
    </div>
  } 
  @else {
    <div class="main">
      @for (note of notes(); track $index) { 
        @if($index < 9) {
          <app-note (click)="selectNote($index)" [note]="note"></app-note>
        } 
      } 
    </div>
  }
}
