.main {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
    padding-top: 4rem;
}

.selected{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

app-note {
    padding: 10px;
}

@media only screen and (max-width: 880px) {
    .main {
        display: grid;
        grid-template-columns: auto auto;
        padding: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .main {
        display: grid;
        grid-template-columns: auto;
        padding: 2rem;
    }
}